.col-md-2{
  margin: 0;
  padding: 0;
}
.dashboard{
  margin-top: 50px;
}
.chart{
  overflow: visible;
}
.wrap-table{
  overflow-x: auto;
}

@media (max-width:700px) {
  .col-md-10{
  }
  .dashboard {
    margin-top: 50px;
  }
}