$fontColor: gray;
$bgColor: #FAACA8;

.navbar {
    // width: 414px;
    // width: 57vh;
    // left: 0;
    display: none;
    position: fixed;
    background-color: $bgColor;
    background-image: linear-gradient(19deg, $bgColor 0%, #DDD6F3 100%);
  
    img {
    //   margin-right: 10px;
      float: right;
      width: 40px;
      border-radius: 50%;
    }
    i{
        margin-top: 10px;
        color: $fontColor
    }
  }
  
  @media (max-width:700px) {
    .navbar {
      display: block;
      z-index: 4;
  
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
}